md-toolbar(md-scroll-shrink, hide-gt-xs, ng-hide='loggedIn')
  .md-toolbar-tools
    span(flex)
    md-button.md-raised.md-accent(aria-label='Begin', ng-click='beginJourney()') Begin
    md-button.md-raised(aria-label='Resume', ng-click='resumeJourney()') Resume
    h3 journey
