md-toolbar(md-scroll-shrink, hide-gt-xs)
  .md-toolbar-tools
    span(flex)
    md-button.md-raised.md-accent(aria-label='Begin') Begin
    md-button.md-raised(aria-label='Resume') Resume
    h3 journey
