md-fab-toolbar(md-direction='right')
  md-fab-trigger.align-with-text
    md-button.md-fab.md-primary(aria-label='menu')
      md-icon(class='material-icons') menu
  md-toolbar
    md-fab-actions.md-toolbar-tools
      md-button.md-icon-button(aria-label='comment')
        md-icon(class='material-icons') comment
      md-button.md-icon-button(aria-label='label')
        md-icon(class='material-icons') label
      md-button.md-icon-button(aria-label='photo')
        md-icon(class='material-icons') photo
