md-toolbar(md-scroll-shrink)
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='Menu', ng-click='openMenuOut()')
      md-icon(class='material-icons') menu
    h1(flex-xs, md-truncate) Active Travellers
    span(hide, show-gt-xs, flex)
    md-button.md-raised.md-accent(hide, show-gt-xs, aria-label='Begin') Begin
    md-button.md-raised(hide, show-gt-xs, aria-label='Resume') Resume
    h3(hide, show-gt-xs) your journey
