md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='Menu', ng-click='openLeftMenu()')
      md-icon(class='material-icons') menu
    h1(flex, md-truncate) Active Travellers

md-sidenav.md-sidenav-left(
  md-component-id='left',
  md-whiteframe='4',
  layout='column',
  layout-align='space-between stretch'
)
  div
    div(md-colors="{background: 'default-primary'}")
      md-toolbar
        .md-toolbar-tools
          h2 Are you ready to play?
      div(layout='row')
        div(flex='50', layout='column' layout-align='center center')
          //- img.r2s-img-size-avatar(ng-src='/images/student.svg', alt='Student')
          div
            i.material-icons.md-light.r2s-icon-size-48 face
          div
            | Student
        div(flex='50', layout='column' layout-align='center center')
          //- img.r2s-img-size-avatar(ng-src='/images/teacher.svg', alt='Teacher')
          div
            i.material-icons.md-light.r2s-icon-size-48 face
          div
            | Teacher
      md-toolbar
        .md-toolbar-tools
          span(flex)
          md-button.md-raised.md-accent(aria-label='Begin') Begin
          md-button.md-raised(aria-label='Resume') Resume
    md-list.md-dense
      //- md-subheader.md-no-sticky Active Travellers
      md-list-item(ng-click='null')
        .md-list-item-text
          p Active travellers have more fun
      md-list-item(ng-click='null')
        .md-list-item-text
          p Less cars means happier communities
      md-list-item(ng-click='null')
        .md-list-item-text
          p More trees make everyone happy
      md-list-item(ng-click='null')
        .md-list-item-text
          p How to play
      //- md-subheader.md-no-sticky Challenges
      //- md-list-item(ng-click='null')
      //-   .md-list-item-text
      //-     p Current
      //- md-list-item(ng-click='null')
      //-   .md-list-item-text
      //-     p Bonus
      //- md-list-item(ng-click='null')
      //-   .md-list-item-text
      //-     p Completed
      //- md-list-item(ng-click='null')
      //-   .md-list-item-text
      //-     p Upcoming
  div
    md-list.md-dense
      md-divider
      md-list-item.md-2-line(ng-click='null')
        md-icon.material-icons.md-48 account_circle
        .md-list-item-text
          h3 Account
          p Edit your account details
      md-list-item.md-2-line(ng-click='null')
        md-icon.material-icons.md-48 info_outline
        .md-list-item-text
          h3 About
          p More about this app
      md-list-item.md-2-line(ng-click='null')
        md-icon.material-icons.md-48 help_outline
        .md-list-item-text
          h3 Support
          p Get some help for this app
