div.r2s-play(ng-controller='PlayCtrl', layout='row', layout-xs='column')
  //- dashboard
  div.r2s-play-dashboard(
    flex-gt-xs='50',
    flex-xs,
    md-colors="::{backgroundColor: 'default-primary-hue-2'}",
    layout-padding,
    layout='column'
  )
    h1.md-display-2 {{ challengeCurrent.name }}
  //- challenges
  div.r2s-play-challenges(flex-gt-xs='50', flex-xs, layout-padding, layout='column')
    md-content
      challenge-card(challenge='challengeCurrent')
      challenge-card(challenge='challengeBonus')
      challenge-card(ng-repeat='challenge in challengesCompleted', challenge='challenge')
      challenge-card(ng-repeat='challenge in challengesUpcoming', challenge='challenge')
