md-toolbar(md-scroll-shrink, hide-gt-xs, ng-hide='vm.isLoggedIn()')
  .md-toolbar-tools
    span(flex)
    md-button.md-raised.md-accent(aria-label='Begin', ng-click='vm.begin()') Begin
    md-button.md-raised(aria-label='Resume', ng-click='vm.resume()') Resume
