md-toolbar.md-accent(md-scroll-shrink, hide-gt-xs, ng-hide='vm.hideMenu')
  .md-toolbar-tools
    span(flex)
    md-button.md-raised(aria-label='Begin', ng-click="vm.navigate('begin')") Begin
    md-button.md-raised(aria-label='Resume', ng-click="vm.navigate('resume')") Resume
