md-sidenav.md-sidenav-left(
  md-component-id='left',
  md-whiteframe='4',
  layout='column',
  layout-align='space-between stretch'
)
  div
    div(md-colors="{background: 'default-primary'}")
      md-toolbar
        h2.md-toolbar-tools Welcome
      md-toolbar(md-colors="{background: 'default-accent'}")
        h3.md-toolbar-tools TEMP SCHOOL NAME
      div(layout-padding, layout='row', md-colors="::{backgroundColor: 'default-primary-hue-2'}")
        div(flex='50', layout='column' layout-align='center center')
          div
            i.material-icons.md-light.r2s-icon-size-48 face
          div(ng-hide='vm.isLoggedIn()')
            | Student
          div(ng-show='vm.isLoggedIn()')
            | TEMP STUDENT NAME
        div(flex='50', layout='column' layout-align='center center')
          div
            i.material-icons.md-light.r2s-icon-size-48 face
          div(ng-hide='vm.isLoggedIn()')
            | Teacher
          div(ng-show='vm.isLoggedIn()')
            | TEMP TEACHER NAME
      md-toolbar(ng-hide='vm.isLoggedIn()')
        .md-toolbar-tools
          md-button.md-raised.md-accent(aria-label='Begin', ng-click='vm.begin()') Begin
          md-button.md-raised(aria-label='Resume', ng-click='vm.resume()') Resume
          h3 journey
  div
    md-list
      md-divider
      md-list-item.md-2-line(ng-click='vm.about()')
        md-icon.material-icons.md-48 info_outline
        .md-list-item-text
          h3 About
          p Active travellers
      md-list-item.md-2-line(ng-click='vm.support()', ng-show='vm.isLoggedIn()')
        md-icon.material-icons.md-48 help_outline
        .md-list-item-text
          h3 Support
          p We all need some help sometimes
      md-list-item.md-2-line(ng-click='vm.resume()', ng-hide='vm.isLoggedIn()')
        md-icon.material-icons.md-48 account_circle
        .md-list-item-text
          h3 Login
          p Resume your journey
      md-list-item.md-2-line(ng-click='vm.account()', ng-show='vm.isLoggedIn()')
        md-icon.material-icons.md-48 account_circle
        .md-list-item-text
          h3 Account
          p Edit your account details
      md-list-item.md-2-line(ng-click='vm.logout()', ng-show='vm.isLoggedIn()')
        md-icon.material-icons.md-48 power_settings_new
        .md-list-item-text
          h3 Logout
          p Come back soon
